USE [master]
GO
/****** Object:  Database [Directory]    Script Date: 12/8/2020 1:38:55 PM ******/
CREATE DATABASE [Directory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Directory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Directory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Directory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Directory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Directory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Directory]
GO
/****** Object:  Schema [Directory]    Script Date: 12/8/2020 1:38:55 PM ******/
CREATE SCHEMA [Directory]
GO
/****** Object:  Table [Directory].[Directory]    Script Date: 12/8/2020 1:38:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Directory].[Directory](
	[DirectoryID] [uniqueidentifier] NOT NULL,
	[PersonName] [nvarchar](max) NOT NULL,
	[SortName] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
	[BiographyText] [text] NULL,
	[PhotoFileName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Directory] PRIMARY KEY CLUSTERED 
(
	[DirectoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Directory].[Directory] ADD  CONSTRAINT [DF_Directory_DirectoryID]  DEFAULT (newid()) FOR [DirectoryID]
GO
USE [master]
GO
